body
{
    background-image: url("../imagens/toto.png");
}

#topo img
{
    margin: 1%;
    width: 142px;
}

.container-fluid
{
/*    background-color: #50483d; */
}

#corpo
{
    margin: 1%;
}

#corpo h1
{
    margin: 1%;
}

#corpo n
{
    margin: 1%;
}

#corpo #cadastro
{
    width: 20%;
    margin: 0 auto;
}

#corpo #contato
{
    width: 20%;
    margin: 0 auto;
}

#rodape
{
    margin: 1%;
    font-weight: bold;
}



